<div class="header">
  <div class="header-actions">
    <input
      *ngIf="isSearchShown"
      [(ngModel)]="search"
      (onDebounce)="onSearch.emit($event)"
      class="input"
      type="text"
      name="search"
      id="search"
      autocomplete="off"
      placeholder="Movie search"
    />
    <div class="header-buttons">
      <app-button
        title="Home"
        [buttonTheme]="isHome ? buttonThemes.Dark : buttonThemes.Light"
        (onClick)="onButtonClick('/home')"
      ></app-button>
      <app-button
        title="My Library"
        [buttonTheme]="isHome ? buttonThemes.Light : buttonThemes.Dark"
        (onClick)="onButtonClick('/library')"
      ></app-button>
    </div>
  </div>
  <div class="suffix-wrapper"><ng-content></ng-content></div>
</div>
